
#root {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
body {
    font-family: 'Figtree', sans-serif;
}

header .page-title {
    text-align: center;
    background-image: url('PastEventHeroImage.jpg');
    background-size: cover;
    color: white;
    padding: 50px 0;
}

/* nav bar  */
 
  #examples {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
  }
  
  .nav-sig {
    display: flex;
    align-items: center;
  }
  
  .signature {
    margin-right: 20px;
  }
  
  #nav-img {
    width: 100px; /* Adjust size as needed */
    cursor: pointer;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  
  .links ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .links ul li {
    margin-right: 20px;
  }
  
  .navlink {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #000000; /* Change color as needed */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar-list {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 106%;
    color: #8192D1;
  }


  
  /* Hover effects */
  .navlink:hover {
    background-color: #8192d1ae; /* Change color on hover */
    border-radius: 10px;
  }
  .navbar-list:hover{
    color: #FD9193;
    text-decoration: none;
  }

/* other stuff */
#events {
    
    margin: 20px auto;
    margin-top: 60px;
}

.event-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}

.event-card {
    
    display: flex;
    
}

.event-image {
    width: 50%;
    background-image: url('PastEventHeroImage.jpg');
    background-size: cover;
    
}

.event-info {
    width: 50%;
    padding: 10px;
    margin-left: 20px;
    text-align: left;
}

hr {
    border: 0;
    height: 2px;
    background-color: #ccc;
    color:#000000;
    margin: 20px 0;
}

.purple {
    color: #AE8BCD;
}

.spacer {
    height: 50px;
}

.grey-bg {
    background-color: #D9D9D9;
}

.purple-bg {
    background-color: #D1B4E9;
}

.banner-image {
    background: url(../banner-image.png), lightgray 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.white-button {
    color: #000000;
    font-weight: bold;
    background-color: white;
    border-radius: 25px;
    padding: 15px;

}
.blue-button {
  color: white;
  font-weight: bold;
  background-color: #8192D1;
  border-radius: 25px;
  padding: 15px;

}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 106%;
}

.subtitle {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 106%; 
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subsection-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 106%
}
.event-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 106%;
}

.question {
  font-weight: bold;
  font-size: larger;
}

.center {
  text-align: center;
}

.big-heading {
  height: 300px;
}
.middle {
  text-align: center;
  vertical-align: middle;
  line-height: 300px; /* same as div height */
}

/* team page  */
.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.accordion-btn {
  background-color: #eee;
  color: #333;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.accordion-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 20px;
}

.accordion-item {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  grid-gap: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.accordion-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.accordion-content.active {
  display: block;
}